.App{
  text-align: center;
  margin:auto;
}
.photo-list{
  display: flex;
  flex-wrap: wrap;
  margin:auto;
}
.photo-card{
  width: 200px;
  height:200px;
  border:1px solid black;
  padding:20px;
  margin:10px;
}
h6{
  font-size:14px;
}